.account-edit-section{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dff2ff;
}
.profile-edit-heading{
    font-size: 25px;
    z-index:6;
    position: relative;
    font-weight: 800;
}
.account-edit-box{
    position: relative;
    background-color: #fff;
    color: black;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    height: 630px;
    overflow: hidden;
    padding-bottom: 2rem;
    box-shadow: 0 2px 12px #000;
}
.account-edit-box .account-edit-box-circle {
    position: absolute;
    
    
}
.account-edit-box .account-edit-box-circle:nth-child(1){
    background: rgb(31, 110, 246);
    top:-80px;
    left:-100px;
    width:300px;
    height:300px;
    border-radius: 50%;
    z-index:4;
    opacity: 0.9;
}
.account-edit-box .account-edit-box-circle:nth-child(2){
    background-color: rgb(39, 167, 236);
    top:-110px;
    left:150px;
    width:250px;
    height:250px;
    border-radius: 50%;
    z-index:3;
    opacity: 0.9;
}
.account-edit-box .account-edit-box-circle:nth-child(3){
    background: rgb(136, 215, 241);
    top:-70px;
    left:180px;
    width:300px;
    height:300px;
    border-radius: 50%;
    z-index:2;
    opacity: 0.9;
}
.account-edit-details{
    background: rgb(203, 241, 247);
    opacity: 0.9;
    z-index:5;
    padding: 20px;
    padding-top:180px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px #8f8d8d;
    position: relative;
    margin-top: -130px;
}
.account-edit-details h1{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
.account-edit-details input{
    color:#8f8d8d;
    font-size: 14px;
    display: flex;
    border-bottom: 1.8px solid #26272b;
    margin-bottom: 2rem;
    background: transparent;
    width: 100%;
}
.account-edit-details input[type="date"]::before {
    content: "DOB";
    color: #8f8d8d;
    font-size: 14px;
    margin-right: 10px;
    width: calc(100% - 20px);
}


.account-edit-image{
    height:150px;
    width:150px;
    background-image:url('./1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top:35px;
    justify-content: center;
    align-items: center;
    margin-left: 5.5rem;
    z-index:6;
    position: relative;
}
.account-edit-file-label {
    background: rgb(39, 167, 236);
    color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-left: 6.4rem;
    top:6.8rem;
}

.account-edit-file-input{
    position: absolute;
    top: -9999px;
}
.camera-icon{
    height: 22px;
    width: 29px;
}
.account-edit-buttons{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}
.account-edit-back-button{
    
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(136, 215, 241); 
    color: #fff; 
    box-shadow: 0 4px 8px #8f8d8d;
    border-radius: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 3rem;

}
.account-edit-back-button:hover{
    background-color: rgb(39, 167, 236);
    color: #fff; 
    
}
.account-save-button{
    display:inline-flex;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(39, 167, 236); 
    color: #fff; 
    box-shadow: 0 4px 8px #8f8d8d;
    border-radius: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 0;
    vertical-align: top;
}
.account-save-button:hover{
    background-color: rgb(136, 215, 241);
    color: #fff; 
}
